*{
    box-sizing: border-box;
}


body{
    margin : 0 0;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 1.8em;
    margin-block-start: 0.42em;
    margin-block-end: 0.32em;
}

/* STYLE GENERAL */
/* ALIGNEMENT A GAUCHE DES BLOCS DIV DE LA PAGE */
.container {
    width: 100%;
    margin: 0 0 0 auto;
}

header {
    display: flex;
    flex-direction: column;
    height: 10%;
    min-height: 100px;
    background-color: #091432 ;
    color : white;
    font-weight: bold;
    margin: 0 0;
}

/* logo website style */
.logo-block {
    display: flex;
    flex-direction: row;
}

.logout{
    width: 100%;
    height: 100%;
    justify-content: end;
    align-content: flex-end;
}

/* menu page */
.nav-block{
    display: flex;
    justify-content: center;
    align-items: center;
     
}

/*header nav style */
nav.nav-header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-inline-start: 0px;
    margin : 0 0;
}
nav.nav-header ul li{
    margin : 0px 10px;
}



/* <a> style in nav-header and nav-footer*/
.link-without-style{
    text-decoration: none;
    color: ivory;
}

/* corps principal */

.central-block {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 80vh;
    color: rgb(10, 10, 10); 
    
}
.nav-table-bdd {
    display: flex;
    flex-direction: column;
    width: 12%;
    background-color: #091432 ;
    color : white;
    font-weight: bold;
}
.nav-table-bdd ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    padding-inline-start: 2em;
}
.nav-table-bdd ul li{
    display: flex;
    width: 100%;
    padding: 1em 0.4em;
    border-bottom: 1px solid ivory;
}
.nav-table-bdd a{
    text-decoration: none;
    padding: 0.4em 0.4em;
    color: white;

}
.active{
    background-color: ivory;
    border-radius: 0 10 0 10;
}
.active a{
    color: #091432;
}

.gestion-table-bdd {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 58%;
}

.gestion-table-bdd h3{
    align-self: start;
    border-bottom: 1px solid #091432;
}

.aside-table-bdd {
    display: flex;
    flex-direction: column;
    width: 30%;
}
.aside-table-bdd h3 {
    align-self: start;
    border-bottom: 1px solid #091432;
    
}

/*** GESTION TABLE USERS **/
.head-table-filtre{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.head-table-filtre a{
    text-decoration: none;
    padding: 0.3em;
    background-color: green;
    color: ivory;
    border-radius: 4px;
    margin-bottom: 0.1em;
}

table {
    width: 100%;
}

table thead{
    background-color:#091432  ;
    color: ivory;
}

table, tr, td{
    border : 1px solid #091432;
    border-collapse: collapse;
   /* font-size : 1.5em;*/
}

tr:hover {
    background-color: blue;
    color:white;
}

td a:hover{
    text-decoration: none;
    color:white;

}

.block-table, .select-table, .form-table{
    width: 85%;
    margin: 0 auto;
}

/**-------------------- MISE EN FORME DU FORMULAIRE ----------------**/

form h3{
    border-bottom: 1px solid #091432;
}

.form-alert{
    width: 100%;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius:10px ;
}

.form-success{
    width: 100%;
    background-color: green;
    color: white;
    font-weight: bold;
    border-radius:10px ;
}

.input-form{
    display: flex;
    flex-direction: row;
    Justify-content: space-between;
    align-items: center;
    font-size: 1em;
    margin-bottom: 5px;
}
.input-form:hover {
    background-color: moccasin;
}

.input-form label {
    min-width: 125px;
}

.input-form input[type=text] {
    padding-left:5px;
    margin: 5px 0;
    width: 250px;
    height: 2em;
    border: 2px solid grey;
    border-radius: 4px;
}
.input-aside input[type=text]{
    width: 150px;
}

.input-form input[type=password] {
    padding-left:5px;
    margin: 5px 0;
    width: 250px;
    height: 2em;
    border: 2px solid grey;
    border-radius: 4px;
}


.input-form textarea{
    width:250px;
    height: 100px;
    resize: none;
    border-radius: 4px;
}


.input-form input[type=submit]{
    background-color: green;
    color:white;
    height: 30px;
    min-width: 80px;
    border: none;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 4px;
}

.input-form input[type=submit]:hover{
    background-color: lightgreen;
    height: 26px;
    width: 76px;
    box-shadow: lightpink;

}

.input-form select{
    padding-left:5px;
    margin: 5px 0;
    width: 250px;
    height: 2em;
    border: 2px solid grey;
    border-radius: 4px;
}
.input-aside select{
    width: 150px;
}

.input-form select:hover{
    background-color: moccasin;
}
/* annuler le surlinage du bouton submit */
div.input-form:last-child{
    background-color: white;
}

/* en-tête des formulaire edition, suppression */
.form-header{
    background-color: moccasin;
    border: none;
    border-radius: 10px;
    padding: 10px 5px;
    margin: 10px auto;
}

.form-header p{
    font-weight: bold;
}

/******************/
/* FOOTER        */
/****************/
footer {
    display: flex;
    flex-direction: row;
    background-color: #2D2D2D;
    /*background-color: #525864;*/
    height: 10%;
    min-height: 100px;
    color : ivory;
}