*{
    box-sizing: border-box;
}


body{
    margin : 0 0;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* STYLE GENERAL */
/* ALIGNEMENT A GAUCHE DES BLOCS DIV DE LA PAGE */
.container {
    width: 90%;
    margin: 0 0 0 auto;
}

button {
    border-style: none;
    opacity: 100% ;
}

/***********/
/* header */
/*********/
header {
    display: flex;
    flex-direction: row;
    height: 10%;
    min-height: 100px;
    background-color: #091432 ;
    color : white;
    font-weight: bold;
    margin: 0 0;
}
.block-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
/* logo website style */
.logo-block {
    display: flex;
    flex-direction: row;
}
/*
.name-lister {
    
}*/
/* nav block position */
.align-right-block {
    margin-right: 5vw;
}
.nav-block{
    display: flex;
    justify-content: center;
    align-items: center;
     
}
/*header nav style */
nav.nav-header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin : 0 0;
}
nav.nav-header ul li{
    margin : 0px 10px;
}
/* <a> style in nav-header and nav-footer*/
.link-without-style{
    text-decoration: none;
    color: ivory;
}
/*************************/
/* web page main-block  */
/***********************/
.center_illustration {
    display: none;
    
}
.main-block {
    display: flex;
    flex-direction: row;
    background-color: #0D2F81;
    min-height: 90vh;
    color: white; 
}
.central-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.central_left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#list_illustration {
    display: flex;
    flex-direction: row;
}
#illustration_default {
    display: flex;
    flex-direction: row;
    border : 1px solid ivory;
}
#illustration_second {
    display: flex;
    flex-direction: row;
    border : 1px solid ivory;
}
#illustration_third {
    display: flex;
    flex-direction: row;
    border : 1px solid ivory;
}
#right_arrow, #left_arrow  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center_illustration_right, .center_illustration_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.center_illustration_left{
    max-width: 350px;
    max-height: 350px;
}
.center_illustration_right img{
    width: 500px;
    border: 1px solid lightgrey;
    
}

/* bloc central right - login and sign-in */
.central_right {
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    min-width: 20vw;
}

.div-form {
    display: none;
}

.form-sign-in, .form-log-in{
   /* display: flex; */
    flex-direction: column;
    align-items: center;
    color : rgb(27,39,51);
    background-color: white;
    height: 100%;
    width: auto;
    padding: 0 30px;
}

.form-sign-in input{
    font-size: 1.4em;
    margin: 1em 0;
}

.form-log-in input{
    font-size: 1.4em;
    margin: 1em 0;
}



/******************/
/* FOOTER        */
/****************/
footer {
    display: flex;
    flex-direction: row;
    background-color: #2D2D2D;
    /*background-color: #525864;*/
    height: 10%;
    min-height: 100px;
    color : ivory;
}
.block-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/*header nav style */
.nav-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;    
    justify-items: center;
}
nav.nav-footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin : 0 0;
}
nav.nav-footer ul li{
    margin : 0px 60px;
}
.block-rs ul{
    
    list-style: none;
}
.block-rs ul li{
    margin: 10px 10px;
}

.horizontal-list{
    display: flex;
    flex-direction: row;
}